<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prompt reversal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/generator.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='script/generator.js') }}"></script>
</head>
<body>
    <h1 class="center"><strong><a href="{{ url_for('home') }}">Prompt reversal</a></strong></h1>
    
    <div class="prompting">
        <div class="container">
            <p>reverse image prompt</p>
            <div class="left-section">
                <form action="/reverse/image" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                    <label for="image">Upload Image:</label>
                    <div class="input">
                        <input type="file" name="image" accept="image/*" required>
                        <input type="submit" value="Generate">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="image-preview">
        <img id="preview-image" alt="Image Preview">
    </div>

    <div id="loading" class="loading">
        <div class="spinner"></div>
        <h1>Generating...</h1>
    </div>

    {% if response %}
        <div class="result">
            <h2>Generated Text:</h2>
            <p id="response">{{ response }}</p>
            <button onclick="copyToClipboard()">Copy Prompt</button>
        </div>
    {% endif %}

    <script>
        function previewImage() {
            var input = document.querySelector('input[name="image"]');
            var preview = document.getElementById('preview-image');
            
            input.addEventListener('change', function () {
                var file = input.files[0];
    
                if (file) {
                    var reader = new FileReader();
    
                    reader.onload = function (e) {
                        preview.src = e.target.result;
                    };
    
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            });
        }
    
        document.addEventListener("DOMContentLoaded", function () {
            previewImage();
        });
    </script>
</body>
</html>
