<!DOCTYPE html>
<html lang="en">

<head>
    <title>Prompt Sanctuary</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <script defer src="{{ url_for('static', filename='script/side_panel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/side.css') }}">
    <script defer src="{{ url_for('static', filename='script/card.js') }}"></script>

    <!-- seo -->
    <meta name="description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <meta name="keywords" content="prompt sanctuary, prompt generator, prompt library, advanced prompting, prompt refinement, prompt generation, writing prompts, creative writing, prompt ideas, writing inspiration, writing exercises, writing generator, story prompts, fiction prompts, writing tools, writing community, writing resources, idea generator, story ideas, writing challenges, writing help, narrative prompts, plot inspiration, storytelling aids, writer's block solutions, creative story ideas, plot development tools, character creation prompts, dialogue prompts, writing prompt app, daily writing prompts, inspiration for writers, story starter, creative writing exercises, fictional writing prompts, writing prompt generator online, flash fiction prompts, novel writing prompts, writing practice, creative brainstorming, storytelling generator, prompting, prompt, llm, llama, gemini, openai, chatgpt">    
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sanctuary01.pythonanywhere.com/">
    <meta property="og:title" content="Prompt Sanctuary">
    <meta property="og:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sanctuary01.pythonanywhere.com/">
    <meta property="twitter:title" content="Prompt Sanctuary">
    <meta property="twitter:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <!-- seo end -->
</head>

<body style="background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('{{ url_for('static', filename='icon/bg.jpg') }}') center/cover no-repeat fixed;">
    <!-- Side Panel -->
    <div class="side-panel" id="sidePanel">
        <div id="toggleButton" onclick="toggleSidePanel()" class="image-logo">
            <img id="preview-logo" alt="Image Preview" src="{{ url_for('static', filename='icon/sanctuary.png') }}">
        </div>
        <div class="side-list" id="side-list">
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('home') }}">home</a></li>
                <li><a href="{{ url_for('mylib')}}">My Library</a></li>
                <li><a href="{{ url_for('trying')}}">prompt trial</a></li>
            </ul>
        </div>
        <div class="side-list" id="side-list">
            <ul>
                <li><a href="{{ url_for('library') }}">Prompt Library</a></li>
                <li><a href="{{ url_for('generate') }}">Basic Prompt</a></li>
                <li><a href="{{ url_for('advance')}}">Advance Prompt</a></li>
            </ul>
        </div>
    </div>
    <!-- end of side panel -->
    
    <h1 id="toggleButton" onclick="toggleSidePanel()"><strong>Prompt Sanctuary</strong></h1>

    <p>Welcome to the Prompt Sanctuary, Explore the functionalities of our platform:</p>
    <div class="content-container">
        <div class="main__cards cards">
            <div class="cards__inner">
                <div class="cards__card card" tabindex="2">
                    <h2 class="card__heading">Prompt library</h2>
                    <p class="card__price">features:</p>
                    <ul role="list" class="card__bullets flow">
                        <li>houses a collection of prompt models</li>
                        <li>each designed to enhance your prompt refinement and generation capabilities</li>
                        <li>Discover the diverse functionalities and advanced features of each model</li>
                    </ul>
                    <a href="{{ url_for('library') }}" class="card__cta cta" tabindex="6">click to begin</a>
                </div>

                <div class="cards__card card" tabindex="3">
                    <h2 class="card__heading">Prompt generator</h2>
                    <p class="card__price">features:</p>
                    <ul role="list" class="card__bullets flow">
                        <li>create prompts tailored to your needs</li>
                        <li>craft high-quality, engaging, and uniquely tailored prompts</li>
                        <li>random option for a fun and surprising prompt</li>
                    </ul>
                    <a href="{{ url_for('generate') }}" class="card__cta cta" tabindex="7">click to begin</a>
                </div>

                <div class="cards__card card" tabindex="5">
                    <h2 class="card__heading">Advanced prompting</h2>
                    <p class="card__price">features:</p>
                    <ul role="list" class="card__bullets flow">
                        <li>help Regenerate your prompt</li>
                        <li>craft high-quality prompt based on multiple parameters</li>
                        <li>Tweaking your prompt to make it more suited to your needs</li>
                    </ul>
                    <a href="{{ url_for('advance') }}" class="card__cta cta" tabindex="9">click to begin</a>
                </div>
            </div>
            <div class="overlay cards__inner"></div>
        </div>
    </div>

</body>

</html>
