<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Library</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/side.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mylib.css') }}">
    <script defer src="{{ url_for('static', filename='script/side_panel.js') }}"></script>
    <script defer src="{{ url_for('static', filename='script/card.js') }}"></script>

    <!-- seo -->
    <meta name="description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <meta name="keywords" content="prompt sanctuary, prompt generator, prompt library, advanced prompting, prompt refinement, prompt generation, writing prompts, creative writing, prompt ideas, writing inspiration, writing exercises, writing generator, story prompts, fiction prompts, writing tools, writing community, writing resources, idea generator, story ideas, writing challenges, writing help, narrative prompts, plot inspiration, storytelling aids, writer's block solutions, creative story ideas, plot development tools, character creation prompts, dialogue prompts, writing prompt app, daily writing prompts, inspiration for writers, story starter, creative writing exercises, fictional writing prompts, writing prompt generator online, flash fiction prompts, novel writing prompts, writing practice, creative brainstorming, storytelling generator, prompting, prompt, llm, llama, gemini, openai, chatgpt">    
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sanctuary01.pythonanywhere.com/">
    <meta property="og:title" content="Prompt Sanctuary">
    <meta property="og:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sanctuary01.pythonanywhere.com/">
    <meta property="twitter:title" content="Prompt Sanctuary">
    <meta property="twitter:description" content="Explore the functionalities of Prompt Sanctuary - a platform for generating and refining prompts. Access a prompt library, generate custom prompts, and explore advanced prompting features.">
    <!-- seo end -->
</head>

<body style="background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('{{ url_for('static', filename='icon/bg.jpg') }}') center/cover no-repeat fixed;">
    <!-- Side Panel -->
    <div class="side-panel" id="sidePanel">
        <div id="toggleButton" onclick="toggleSidePanel()" class="image-logo">
            <img id="preview-logo" alt="Image Preview" src="{{ url_for('static', filename='icon/sanctuary.png') }}">
        </div>
        <div class="side-list" id="side-list">
            <ul>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('home') }}">home</a></li>
                <li><a href="{{ url_for('mylib')}}">My Library</a></li>
            </ul>
        </div>
        <div class="side-list" id="side-list">
            <ul>
                <li><a href="{{ url_for('library') }}">Prompt Library</a></li>
                <li><a href="{{ url_for('generate') }}">Basic Prompt</a></li>
                <li><a href="{{ url_for('advance')}}">Advance Prompt</a></li>
            </ul>
        </div>
    </div>

    <h1 id="toggleButton" onclick="toggleSidePanel()"><strong>Personal Prompts Library</strong></h1>

    <div class="main">
        <h3>Here are Your saved prompts:</h3>
        {% if saved_prompts %}
            <div id="imageBoxContainer" class="flex-container">
            <ol>
                {% for prompt in saved_prompts %}
                <div class="prompt-box">
                    <li><h4>{{ prompt[1] }}</h4></li>
                    <p>{{ prompt[2] }}</p>
                    <button class="copy-button" data-clipboard-text="{{ prompt[2] }}">Copy Prompt</button>
                    <form action="{{ url_for('delete_prompt') }}" method="post" style="display: inline;">
                        <input type="hidden" name="prompt_id" value="{{ prompt[0] }}">
                        <button type="submit" class="delete-button">Delete Prompt</button>
                    </form>
                </div>
                {% endfor %}
            </ol>
            </div>
        {% else %}
            <h4>You have No saved prompts yet.</h4>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new ClipboardJS('.copy-button', {
                text: function (trigger) {
                    return trigger.getAttribute('data-clipboard-text');
                }
            }).on('success', function (e) {
                e.clearSelection();
                alert('Prompt copied to clipboard!');
            });
        });
    </script>
</body>
</html>
