.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt-box {
    margin: 1% 2% 2% 2%;
    padding: 2% 4% 3% 5%;
    border-radius: 15px;
    background-color: #2d2d2dc2;
}

.prompt-box p {
    font-size: 0.95em;
    padding: 2.5%;
    margin: 1% 0% 2% 3%;
}

.prompt-box h4 {
    font-size: 1.94em;
}

button {
    color: rgb(255 255 255);
    font-family: 'Rubik';
    font-size: 0.9em;
    background-color: #4b006e78;
    border: 2px solid #56565657;
    cursor: pointer;
    margin: 2px;
    transition: transform 0.3s linear;
    border-radius: 10px;
}

button:hover {
    background-color: #5c0187e2;
    transform: scale(1.1);
}

ol li {
    font-family: 'Caveat', cursive;
}