/* side panel */
.side-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    max-width: 218px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.side-panel ul {
    margin-top: 15%;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #4a4d4dc2;
    border-radius: 20px;
    padding: 10%;
    position: relative;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: medium;
}

.side-panel li {
    margin-bottom: 10px;
}

.side-panel ul li {
    margin: 5%;
    padding: 0%;
}

.side-panel a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.side-panel a:hover {
    color: #ffd700;
}

.image-preview {
    display: flex;
    margin-top: 10px;
}

img#preview-logo {
    max-width: 150px;
    margin-top: 10%;
    object-fit: contain;
}

h4 {
    font-size: 1.625rem;
    font-family: 'Caveat', cursive;
}

strong:hover{
    color:#ffd477;
}

.side-list {
    box-shadow: 10px 10px 8px 2px rgb(11 11 11 / 24%), inset -4px -4px 6px -1px rgb(64 64 64 / 32%);
    border-radius: 20px;
    transition: transform 0.2s linear;
}

.side-list:hover {
    transform: scale(1.1);
    animation: scale 0.2s cubic-bezier(0.43, 0.12, 0.57, 0.53) infinite;
}

#bottom-list a:hover {
    color: #ff6f6f;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .side-panel {
        width: 35%;
        max-width: 318px;
    }
}
