/* side panel */
.side-panel {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 100%;
    width: 273px;
    max-width: 25%;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 1% 0%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.35s cubic-bezier(0.89, 0.75, 0.62, 0.96);
    transform: translateX(-100%);
}

.side-panel ul {
    margin-top: 15%;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #4a4d4dc2;
    border-radius: 20px;
    padding: 10%;
    position: relative;
    flex-wrap: nowrap;
    font-size: medium;
    align-items: stretch;
    justify-content: space-around;
    filter: none;
}

.side-panel ul li {
    box-shadow: 5px 5px 4px 1px rgb(11 11 11 / 14%);
    background-color: #333333d9;
    border-radius: 5px;
    margin: 5%;
    padding: 2% 0% 2% 3%;
    transition: transform 0.2s linear;
}

.side-panel ul li:hover {
    color: rgb(255, 132, 0);
    transform: scale(1.2);
    animation: scale 0.2s cubic-bezier(0.43, 0.12, 0.57, 0.53) infinite;
}

.side-panel a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.side-panel a:hover {
    color: #ffd700;
}

.image-preview {
    display: flex;
    margin-top: 10px;
}

img#preview-logo {
    max-width: 150px;
    margin-top: 10%;
    margin-left: 8%;
    object-fit: contain;
    position: relative;
}

h4 {
    font-size: 1.625rem;
    font-family: 'Caveat', cursive;
}

strong:hover{
    color:#ffd477;
}

.side-list {
    display: block;
    box-shadow: 10px 10px 8px 2px rgb(11 11 11 / 24%), inset -4px -4px 6px -1px rgb(64 64 64 / 32%);
    border-radius: 20px;
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}

.side-list:hover {
    transform: scale(1.1);
    animation: scale 0.2s cubic-bezier(0.43, 0.12, 0.57, 0.53) infinite;
}

#bottom-list a:hover {
    color: #ff6f6f;
}

h1 {
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}

h1#toggleButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .side-panel {
        max-width: 40%;
        box-shadow: none;
        padding: 10px;
    }

    .side-panel ul {
        margin-top: 10%; /* Adjust margin */
        padding: 5%; /* Adjust padding */
    }

    .side-panel li {
        margin-bottom: 5px; /* Adjust margin */
    }

    .image-preview {
        margin-top: 5px;
    }

    img#preview-logo {
        max-width: 120px; 
        margin-top: 5%; 
    }

    .side-list {
        border-radius: 10px; 
    }

    .side-list:hover {
        transform: scale(1); 
    }

    #bottom-list a:hover {
        color: #ffd700;
    }

    h1#toggleButton:hover {
        transform: scale(1); 
    }
}


@media only screen and (min-width: 300px) and (max-width: 480px) {
    .side-panel {
        width: 100%;
        max-width: none;
        box-shadow: none;
        margin: 0px;
    }
    .side-panel ul {
        margin-top: 7%; /* Adjust margin */
        padding: 5%; /* Adjust padding */
    }

    .side-panel li {
        margin-bottom: 5px; /* Adjust margin */
    }

    .side-panel ul li {
        margin: 3%;
        padding: 2% 0% 2% 3%;
    }

    .image-preview {
        margin-top: 5px;
    }

    img#preview-logo {
        max-width: 120px; 
        margin-top: 5%; 
    }

    .side-list {
        border-radius: 10px; 
    }

    .side-list:hover {
        transform: scale(1); 
    }

    #bottom-list a:hover {
        color: #ffd700;
    }

    h1#toggleButton:hover {
        transform: scale(1); 
    }
}